.bars {
  position: relative;
  z-index: 1000;
  width: 3rem;
  height: 2px;
  transition: background 0.25s ease;
  background: V.$c-white;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    transition: transform 0.25s ease, top 0.25s ease, bottom 0.25s ease,
      background 0.5s ease;
    background: inherit;
  }
  &:before {
    top: -15px;
  }
  &:after {
    bottom: -15px;
  }

  &.on-white {
    background: V.$c-black;

    &:after {
      background-color: V.$c-black;
    }
  }

  &.opened {
    background: transparent;

    &:before,
    &:after {
      background-color: V.$c-black;
    }

    &:before {
      transform: rotate(45deg);
      top: 0;
    }
    &:after {
      transform: rotate(-45deg);
      bottom: 0;
    }
  }
}
